Dockerfile
.dockerignore
node_modules
**/node_modules
npm-debug.log
pnpm-debug.log
README.md
.next
.git
.gitignore
.env.local
.env.production
.env.development
.DS_Store
.idea
.vscode
fly.toml
package-lock.json
**/package-lock.json
**/dist
**/.turbo